<%- include ("partials/header.ejs") %>


    <body class="bg-purple">

        <div class="stars">

            <%- include ("partials/navbar.ejs") %>
                <%- include ("partials/glowing-stars.ejs") %>

        </div>

        <%- include ("partials/blogs.ejs") %>

            <%- include ("partials/footer.ejs") %>

    </body>

    </html>